@import 'variaveis.scss';

* {
  font-family: $fontRegular;
  font-size: 14px;
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.oculto {
  display: none
}

input {
  &::placeholder{
    color: $cinza2;
    opacity: 1;
  }

 
}

.desktop{
  display: block;

  @media screen and (max-width: calc($desktopBreakpoint - 1px)) {
    display: none;
  }
}

.mobile{
  display: block;

  @media screen and (min-width: $desktopBreakpoint) {
    display: none;
  }
}


@import '../public/fonts/fonts.scss';
@import '../components/botao/botao.scss';
@import './paginaPublica.scss';
@import "../components/inputPublico/inputPublico.scss";